#slideshow {
    position:relative;
    height:400px;
    float: left;
}

#slideshow DIV {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
    height: 400px;
    background-color: #FFF;
}

#slideshow DIV.active {
    z-index:10;
    opacity:1.0;
}

#slideshow DIV.last-active {
    z-index:9;
}

#slideshow DIV IMG {
    height: 350px;
    display: block;
    border: 0;
    margin-bottom: 10px;
}

.next-button{
    float: left;
    margin-top: 150px;
    margin-left: 468px;
}

.prev-button{
    float: left;
    margin-top: 150px;
}
